<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="index_style.css">
        
   </head>
    <body>
    <!-- neu nguoi dung dang nhap se co
        <div class="username-button">
            <button class="login-button" onclick="signout()">Hello <br></button>
        </div>
    -->
        <nav>
            <div class="logo">
                <h4>Covid System</h4>
            </div>
            <div class="nav-links">
                <button class="login-button" onclick="login()">Log in</button>
                <button class="login-button" onclick="MOH()">MOH</button>
                <button class="login-button" onclick="">About</button>
            </div>
        </nav>
        <main>
            <h3>Content</h3>
        </main>
    </body>
</html>
